<% provide(:title, "Home") %>

<!DOCTYPE html>
<html>
    <head>
        <title><%= yield(:title) %> | Transaction App </title>
    </head>

    <div class="center jumbotron">
        <body>
            <h1>Transaction App</h1>
            <p>
            This is the home page for the
            <a href="#">Transaction App</a>
            For Light Transactions and Groupings.
            </p>

        </body>
        <%= link_to "Sign up now!", users_new_path, class: "btn btn-lg btn-primary" %>
    </div>
   
</html>