
<% provide(:title, "View Group") %>
<div class="group-div">
<div>
# 
</div>

<div>
<h3><%= @group.name %></h3>
<p><small>Created At: <%= @group.created_at.strftime("%d-%m-%y") %></small></p>
</div>
</div>
<!-- will paginate-->


<div class="create-group">
</div>
<div class="create-pad"></div>

