@import "bootstrap-sprockets";
@import "bootstrap";

/*universal */
.header-color {
    background-color: #3778c2;
}

body {
padding-top: 60px;
}

section {
overflow: auto;
}
textarea {
resize: vertical;
}
.center {
text-align: center;
}
.center h1 {
margin-bottom: 10px;
}

body {
    padding-top: 60px;
}

/* footer */
footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #777;
    background-color: #5fb523;
    height: 100px;
}

footer a {
    color: #555;
}

footer a:hover {
    color: #222;
}

footer small {
    float: left;
}

footer ul {
    float: right;
    list-style: none;
}

footer ul li {
    float: left;
    margin-left: 15px;
}