@import "bootstrap-sprockets";
@import "bootstrap";

html {
  box-sizing: border-box;
}

/* mixins, variables, etc. */
$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */
.header-color {
  background-color: #3778c2;
}

head {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100px;
  margin-bottom: 45px;
}

body {
  box-sizing: border-box;
  overflow-y: scroll;
  height: 100%;
  width: 100%;
  padding-top: 100px;

  .notice {
    color: red;
    text-align: center;
  }
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* footer */

footer {
  margin-top: 100px;
  position: relative;
  bottom: auto;
  width: 100%;
  height: 70px;
  border-top: 1px solid #eaeaea;
  color: #777;
  background-color: #5fb523;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  padding-left: 15px;
}

/* forms */
input,
textarea,
select,
.uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;

  @include box_sizing;
}

#error_explanation {
  color: red;
  margin-top: 50px;

  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

input {
  height: auto !important;
}

@media (max-width: 800px) {
  footer {
    margin-left: 0;

    small {
      display: block;
      float: none;
      margin-bottom: 1em;
    }

    ul {
      float: none;
      padding: 0;

      li {
        float: none;
        margin-left: 0;
      }
    }
  }
}

.group-image {
  width: 165px;
  height: 165px;
  object-fit: cover;
}
