@import "bootstrap-sprockets";
@import "bootstrap";

// /* mixins, variables, etc. */
// $gray-medium-light: #eaeaea;
// @mixin box_sizing {
// -moz-box-sizing:
// border-box;
// -webkit-box-sizing: border-box;
// box-sizing:
// border-box;
// }

/*universal */
.header-color {
    background-color: #3778c2;
}

body {
padding-top: 60px;
}

section {
overflow: auto;
}
textarea {
resize: vertical;
}
.center {
text-align: center;
}
.center h1 {
margin-bottom: 10px;
}

body {
    padding-top: 60px;
}

/* footer */
footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #777;
    background-color: #5fb523;
    height: 100px;
    width: 100%;
}

footer a {
    color: #555;
}

footer a:hover {
    color: #222;
}

footer small {
    float: left;
}

footer ul {
    float: right;
    list-style: none;
}

footer ul li {
    float: left;
    margin-left: 15px;
}

/* forms */
input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 15px;
    // @include box_sizing;
    }
    input {
    height: auto !important;
    }

    @media (max-width: 800px) {
        
    footer {
        margin-left: 0;
        small {
        display: block;
        float: none;
        margin-bottom: 1em;
        }
        ul {
        float: none;
        padding: 0;
        li {
        float: none;
        margin-left: 0;
        }
        }
        }
    }