<footer class="footer">
    <small>
    The Transaction App was built by Aye Daniel Asoo
    </small>
    <nav>
        <ul>
            <li><%= link_to "About", '#' %></li>
            <li><%= link_to "Help", '#' %></li>
            <li><a href="#">News</a></li>
        </ul>
    </nav>
</footer>